<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nestoran</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@100;300;400;700&display=swap" rel="stylesheet">

</head>
<body>
  <div class="header">
    <a href="#content" class="skip-link">Menuju ke konten</a>
    <!--Navbar Start-->
    <nav class ="navbar">
        <a href = "#" class="app-logo"> Nes<span>toran</span> </a>
        <div class="hamburger" >
          <a href="#" id="hamburger-menu" >☰</a>
        </div> 
        <ul class="navbar-head">
          <li class="navbar-item"><a href="/">Home</a></li>
          <li class="navbar-item"><a href="#">Favorite</a></li>
          <li class="navbar-item"><a target="_blank" href="https://github.com/agnessia23">About Us</a></li> 
        </ul>
    </nav>
    <!--Navbar End-->
  </div>
<!--Hero Start-->
<div class="hero" id="home">
    <main class="tagline">
        <h1>Let Nesto Make Your Day</h1>
        <p>A symphony of flavors for the discerning palate</p>
    </main>
  </div>
<!--Hero End-->

<!--Home Start-->
<main>
  <section class="content" id="content">
      <div class="box">
          <h1 class="box-tagline">These restaurants may suit you. Let's check them out</h1>
          <div class="list-resto" id="list-resto">
          </div>
      </div>
  </section>
</main>
<!--Home End-->

<!--Footer Start-->
<footer class="footer">
    <p>&copy; 2023 Nesstoran</p>
  </footer>
<!--Footer End-->

<!--Javascript-->
<script src="js/script.js"></script>
</body>
</html>