.list-resto {
    margin: 32px auto auto;
    text-align: left;
    gap: 50;
}

.list-resto {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.list-resto-content {
    padding: 16px;
    color: antiquewhite;
}

.resto-rate {
    font-size: 1em;
    color: #999;
}

.resto-rate {
    font-size: 1em;
    text-decoration: none;
}

.resto-name {
    font-weight: 500;
    margin-top: 15px;
    font-size: 2rem;
    min-height: 44px;
    transition: 0.3s opacity;
}

.resto-name:hover {
    opacity: 0.5;
}

.resto-name a {
    text-decoration: none;
    color: inherit;
}

.resto-description {
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.5em;
}

.resto-picture {
    width: 100%;
    height: 200px;
    background-size: cover;
}

.thumbnail-list {
    position: relative;
}

.resto-city {
    position: absolute;
    top: 20px;
    background-color: #50577A;
    padding: 10px 20px;
    font-size: 0.8em;
    color: black;
}